# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars

secret.tf
variables.tf
**/variables.tf/*
.env
**/kubespray
*/kubespray
/kubespray